{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="bg-vh">
    <div class="outer mt-5">
        <div class="container mt-4">
            <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
            <div class="card p-5 m-3 shadow-md bg-light darken-4">
                <form method="POST" >
                  {{ registration_form.hidden_tag() }}
                  <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-check">
                            {{ registration_form.user_admin(class_='form-check-input') }}
                            {{ registration_form.user_admin.label }}
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-check">
                            {{ registration_form.user_staff(class_='form-check-input') }}
                            {{ registration_form.user_staff.label }}
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-check">
                            {{ registration_form.user_student(class_='form-check-input') }}
                            {{registration_form.user_student.label }}
                          </div>
                    </div>
                    </div>
                    <div class="form-group">
                        {{ registration_form.email.label }}
                        {{ registration_form.email(class_='form-control') }}
                      </div>
                    <div class="form-group">
                      {{ registration_form.username.label }}
                      {{ registration_form.username(class_='form-control') }}
                    </div>
                    <div class="form-group">
                      {{ registration_form.password.label }}
                      {{ registration_form.password(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ registration_form.password_confirm.label }}
                        {{ registration_form.password_confirm(class_='form-control') }}
                     </div>
                    {{ registration_form.submit(class_='btn btn-primary btn-md') }}
                </form>
            </div>
            </div>
            <div class="col-md-2"></div>
            </div>
            </div>
    </div>
</div>



{% endblock%}