{% extends 'base.html'%}

{% block content %}
<section class="bg-landing" style="background: linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.486)) ,url('/static/imgs_bg/studies.jpg')center center no-repeat;
                                    background-size: cover;">
  <div class="outer">
    <div class="container">
      <h1 class="teal-text bold-text"> WELCOME SOFTWARE DEVS</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card green darker-2 p-5 shadow-md">
            <div class="outer">
              <div class="text-center">
                <a href="#" class="white-text stetched-link btn-link"> ADMIN</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card green darker-2 p-5 shadow-md">
            <div class="outer">
              <div class="text-center">
                <a href="#" class="white-text stetched-link btn-link"> STAFF</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card green darker-2 p-5 shadow-md">
            <div class="outer">
              <div class="text-center">
                <a href="#" class="white-text stetched-link btn-link"> STUDENT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}