{% macro displayCategoryList(category) %}
    {% for items in category%}
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-1 px-0">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-align-justify"></i> Category</h5>
      <h2 class="card-title h2 my-4 py-2">{{ items.name }}</h2>
      <a href='{{url_for('admin.category',id=items.id)}}' class="btn peach-gradient"><i class="fas fa-align-justify"></i> View Category</a>

    </div>
  </div>
</div>

<br>

    {% endfor %}
{% endmacro %}

{% macro displayPosts(blogs) %}
  {% for items in blogs %}
  <br>
<div class="container">
<div class="row">
<div class="col-sm-9 col-md-10 col-lg-10">
    
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid img-thumbnail rounded-circle" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-1 mt-1">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>{{ items.categories }}</h6>
      </a>

      <h4 class="h4 mb-4">{{ items.title }}</h4>

      <p class="font-weight-normal">main</p>
      <p class="font-weight-normal">by <a><strong>Carine Fox</strong></a>, 19/08/2016</p>

      <a class="btn btn-secondary btn-sm">{{ items.post }}</a>
      <a class="btn btn-warning btn-sm"><i class="fas fa-flag"></i></a>
      <a class="btn btn-primary btn-sm"><i class="fas fa-thumbs-up"></i></a>
      <a class="btn btn-teal btn-sm"><i class="fas fa-thumbs-down"></i></a>
      <a class="btn btn-info btn-sm">Share</a>


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
</div>
</div>
</div>
  {% endfor %}
{% endmacro %}

